#title {
    font-size: 16;
    font-weight: bold;
    text-color: rgb(200, 200, 200);
    margin : 5;
    
}

#result{
    font-size: 20;
    text-color: rgb(255, 12, 12);
}

#scroll{
    margin:10,5;
}

#button{
    width:100;
    height:30;
    margin-left:10;
    margin-bottom:10;
}